:root {
    --primary-color:#fff;
    --secondary-color:black;
}
.dark-theme {
    --primary-color:rgb(92, 88, 88);
    --secondary-color:#fff;
};
* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--primary-color);
}
#mode {
    padding: 1% 2%;
    margin-left: 87%;
    font-size: 15px;
    color: var(--primary-color);;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);;
    border-radius: 10px;
}
h1 {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}
#container {
    display: flex;
    justify-content: space-between;
}

.box {
    background: red;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    margin: 10px;
}

#player-el {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#choice-1-el {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30%;
}

.container-1 {
    margin-left: 15%;
    margin-top: 35%;
}
#scissors-el {
    padding: 2% 4%;
    font-size: 25px;
    background: yellowgreen;
    border: 1px solid yellowgreen;
    color: white;
    border-radius: 10px;
}

#rock-el {
    padding: 2% 6%;
    font-size: 25px;
    background: #000;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

#paper-el {
    padding: 2% 4%;
    font-size: 25px;
    background: purple;
    border: 1px solid purple;
    color: white;
    border-radius: 10px;
}

#score-el {
    margin-left: 40%;
    font-size: 30px;
    margin-top: 5%;
}
#score1-el {
    margin-left: 40%;
    font-size: 30px;
    margin-top: 5%;
}

.box1 {
    width: 200px;
    height: 500px;
    margin: 10px;
}

#game {
    padding: 8% 20%;
    margin-top: 50%;
    color: white;
    margin-left: 15%;
    border-radius: 10px;
    background: green;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 20px;
}
#reset {
    padding: 8% 20%;
    margin-top: 10%;
    color: white;
    margin-left: 15%;
    border-radius: 10px;
    background: red;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 20px;
}

#game-text {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    margin-top: 30%;
    margin-bottom:10%;
    margin-left: 10%;
    font-weight:900;
}
#game-text-2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    margin-top: 30%;
    margin-bottom:10%;
    margin-left: 10%;
    font-weight: 700;
}
.box2 {
    background: red;
    width: 600px;
    height: 450px;
    margin: 10px;
    border-radius: 10px;
}
#choice-2-el {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30%;
}

#start-el {
    padding: 2% 4%;
    font-size: 25px;
    margin-left: 37%;
    margin-top: 25%;
    background: cyan;
    border: 1px solid cyan;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}



